html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



@font-face {
    font-family: 'Intro';
    src: url('./fonts/Intro-Black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;

}




@font-face {
    font-family: 'Intro';
    src: url('./fonts/Intro-Book-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}



@font-face {
    font-family: 'Intro';
    src: url('./fonts/Intro-Light-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;

}


html {
	font-size:62.5%; 
}

html, body {
	background:#000; 
	height:100%;
	color:#fff;
	font-family:"Intro";
	text-align:center;  
}

div {
	position:absolute; 
	top:50%; left:50%; 
	-webkit-transform:translate(-50%, -35%); 
	-ms-transform:translate(-50%, -35%); 
	-o-transform:translate(-50%, -35%); 
	transform:translate(-50%, -35%); 
}

h1 {
	font-size:4rem; 
	font-weight:900; 
	margin-bottom:5px; 
	text-transform:uppercase; 
}

h2 {
	font-weight:200; 
	text-transform:uppercase;
	font-size:1.4rem;  
	margin-bottom:60px; 
}

h3 {
	margin-bottom: 15px;
	font-size: 1.2rem;
	font-weight: 900;
	text-transform:uppercase; 
}

ul {
	margin-bottom: 60px;
}

li {
	line-height:1.7; 
}

a {
	font-weight: 200;
	font-size:1.4rem; 
	color:#fff;
	opacity:1; 
	text-decoration:none; 
	-webkit-transition:all .3s  cubic-bezier(0.23, 1, 0.32, 1);
	-o-transition:all .3s  cubic-bezier(0.23, 1, 0.32, 1);
	transition:all .3s  cubic-bezier(0.23, 1, 0.32, 1);
}



div>a {
	font-size:1.2rem; 
	font-weight:900; 
	margin:0 8px; 
}

li:hover a {
	display:block; 
	opacity:0.6;
}

span.fwa {
	display:inline-block; 
	height: 23px;
	margin-left: 3px;
	text-indent: -9999px;
	background: url('./img/fwa.svg') center center no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
	width: 43px;
}

span.aw {
	display:inline-block; 
	height: 23px;
	margin-left: 3px;
	text-indent: -9999px;
	background: url('./img/aw.png') center center no-repeat;
	-webkit-background-size: 17px;
	background-size: 17px;
	width: 15px;
}

a.rs:hover {
	display:inline-block; 
	opacity:0.6;
}
