
*=====BODY=====*/
body {
    font-weight: 400;
}

html,
body,
#all {
    height: 100%;
    min-height: 100%
}

/*=====NAVBAR=====*/
.navbar {
    border: none;
}
.navbar ul.nav > li > a {
    text-transform: uppercase;
    border-top: solid 5px transparent;
}
.navbar ul.nav > li > a:hover {
    border-top: solid 5px #4fbfa8;
}
@media (max-width: 767px) {
    .navbar ul.nav > li > a:hover {
        border-top: solid 5px transparent;
    }
}
.navbar ul.nav > li.active > a,
.navbar ul.nav > li.open > a {
    text-decoration: none;
    border-top: solid px #4fbfa8;
    font-weight: bold;
}
@media (max-width: 767px) {
    .navbar ul.nav > li.active > a,
    .navbar ul.nav > li.open > a {
        border-top: solid 5px transparent
    }
}

/*=====INTRODUCTION=====*/
#intro {
    position: relative;
    height: 100%
}
#intro .item {
    height: 100%;
    background: url("../images/la.jpg") center center no-repeat;
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;*/
    background-size: cover;
    /*-webkit-backface-visibility: hidden;*/
}
@media (max-width: 767px) {
    #intro .item {
        margin-bottom: 50px;
    }
}
#intro .item h1 {
    font-size: 60px;
    color: #fff;
    margin-bottom: 40px;
    font-weight: 700;
    /*opacity: 0;*/
    /*filter: alpha(opacity=0);*/
    /*-webkit-backface-visibility: hidden;*/
}
@media(max-width: 991px) {
    #intro .item h1 {
        font-size: 40px;
    }
}
@media(max-width: 767px) {
    #intro .item h1 {
        font-size: 35px;
    }
}
#intro .item h2 {
    color: #fff;
    margin-bottom: 120px;
    font-weight: 400;
    /*opacity: 0;
    filter: alpha(opacity=0);
    -webkit-backface-visibility: hidden;*/
}
@media(max-width: 767px) {
    #intro .item h2 {
        font-size: 25px;
        margin-bottom: 20px;
        padding: 0 30px
    }
}
@media(max-width: 1199px) {
    #intro .item h2 {
        font-size: 25px;
        margin-bottom: 40px;
    }
}
#intro .item .carousel-caption {
    left: 0;
    right: 0;
}
#intro .container,
#intro .row {
    height: 100%;
    position: relative;
}
/*